{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categorietechnologie</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categorieTechnologie.id }}</td>
            </tr>
            <tr>
                <th>Nomcategorie</th>
                <td>{{ categorieTechnologie.nomCategorie }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categorietechnologie_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('categorietechnologie_edit', { 'id': categorieTechnologie.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
